// Bootstrap
@import "vendor/bootstrap.scss";

// Custom scss

body {
    font-family: 'Muli', sans-serif;
    color: $font-color;
    font-size: 14px;
}

p {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    &.btn-primary {
        text-transform: uppercase;
        color: $white;
    }
}

header {
    nav {
        .navbar-nav {
            .nav-link {
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
    #carouser-area {
        #carouser-main {
            .carousel-indicators {
                .active {
                    background-color: $theme-color;
                }
            }
            .carousel-item {
                text-align: center;

                h2 {
                    color: $theme-color;
                    font-size: 60px;
                }
                h3 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 24px;
                    font-weight: 300;
                }
                a {
                    margin-top: 30px;
                    padding: 14px 33px;
                    text-transform: uppercase;
                    color: $white;
                    font-size: 16px;
                }
                .carousel-caption {
                    top: 25%;
                }
            }
            > a {
                > span {
                    background-image: none;
                    height: 38px;
                    font-size: 26px;
                }
                &.carousel-control-prev {
                    span:before {
                        @extend .fa;
                        @extend .fa-chevron-left;
                    }
                }
                &.carousel-control-next {
                    span:before {
                        @extend .fa;
                        @extend .fa-chevron-right;
                    }
                }
            }
        }
    }
}

section {
    padding: 60px 0;

    &:nth-child(odd) {
        background-color: $section-bg-color;
    }

    .section-title {
        color: $section-title-color;
        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 30px;
    }

    .section-description {
        text-align: center;
        padding-bottom: 30px;
    }

    &#section-services {
        .service-box {
            .service-icon {
                margin-top: 5px;
                float: left;
                font-size: 24px;
                color: $theme-color;
            }
            .service-description {
                padding-left: 50px;
                p {
                    font-size: 13px;
                }
            }
        }
    }

    &#section-products {
        .btn-menu {
            margin-bottom: 15px;
        }
        .btn-more {
            margin-top: 20px;
        }
        .gallery {
            .image-container {
                height: 300px;
                position: relative;
                background: $white;
                
                img {
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    max-height: 250px;
                }
            }
        }
    }
}


footer {
    background-color: $footer-bg-color;
    color: $footer-color;

    .section {
        padding: 60px 0;

        h3 {
            color: $white;
            margin-bottom: 25px;
            text-transform: uppercase;
            font-size: 22px;
        }
    }

    #copyright {
        background-color: $footer-copyright-bg;
        color: $footer-copyright-color;
        .row {
            padding: 15px 0;
        }
        p, ul {
            margin-top: 15px;
        }

        ul .nav-link {
            padding-top: 0;
        }
    }
}